@charset "UTF-8";
/* CSS Document */

body{
	background-color: #FFF;
	font-size: 90px;
}

#header {
	width: 99%;
	background-color: #C9FFC9;
}
#header img{
	width: 30%;
	height: auto;
	margin: 2% auto 2% 2%;
	align: left;
}

#header ul li{
	list-style: none;
	width: 20%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	display: inline;
}

a {
	text-decoration: none;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 20%;
	float: right;
	margin: 9px;
}

.name {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 250%;
	text-align: right;
	letter-spacing: -1px;
}