/* CSS Document for Alyssa Brunswick */

@font-face {
    font-family: 'Quicksand';
	src: url(http://alyssabrunswick.com/Fonts.ff/Quicksand-fontfacekit/Quicksand_Light-webfont.eot);
    src: local ('Quicksand Light'),
		url('http://alyssabrunswick.com/Fonts.ff/Quicksand-fontfacekit/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('http://alyssabrunswick.com/Fonts.ff/Quicksand-fontfacekit/Quicksand_Light-webfont.woff') format('woff'),
        url('http://alyssabrunswick.com/Fonts.ff/Quicksand-fontfacekit/Quicksand_Light-webfont.ttf') format('truetype'),
        url('http://alyssabrunswick.com/Fonts.ff/Quicksand-fontfacekit/Quicksand_Light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: Blackjack;
	src: url (http://alyssabrunswick.com/Fonts.ff/BlackJack-fontfacekit/black_jack-webfont.eot);
	src: url (http://alyssabrunswick.com/Fonts.ff/BlackJack-fontfacekit/black_jack-webfont.ttf) format ("truetype");
	src: url (http://alyssabrunswick.com/Fonts.ff/BlackJack-fontfacekit/black_jack-webfont.svg);
}


body {
	background-image: url(Images/texture.png);
	background-repeat: repeat;
	padding: 10px;
}

#webcontainerindex {
	background-color: #94BA6A;opacity: 0.9;
	width: 1080px;
	min-height: 295px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	padding: 0px 50px 50px 50px;
	border-radius: 15px;
	
}

#navigation {
	margin-bottom: 33px;
}

#webcontainerabout {
	background-color: #94BA6A; opacity: 0.9;
	width: 980px;
	min-height: 525px;
	margin-left:auto;
	margin-right:auto;
	padding: 20px 50px 90px 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
	
#webcontainersocial {
	background-color: #94BA6A; opacity: 0.9;
	width: 980px;
	min-height: 465px;
	margin-left:auto;
	margin-right:auto;
	padding: 20px 50px 90px 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#webcontainerportfolio {
	background-color: #94BA6A; opacity: 0.9;
	width: 980px;
	min-height: 465px;
	max-height: 495px;
	margin-left:auto;
	margin-right:auto;
	padding: 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#webcontainerresume {
	background-color: #94BA6A; opacity: 0.9;
	max-width: 980px;
	min-height: 765px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 50px 30px 50px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#header {
	font-family: Quicksand, Helvetica, sans-serif;
	text-align: center;
	padding-top: 50px;
}


a {
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 35px;
	color: black;
	text-align: left;
	padding-right: 60px;
	text-decoration: none;
}
#images {
	margin:auto;
}

#imageone {
	margin: 5px 4px 35px 0px;
	background-color: #94BA6A;
	float: left;
}
#imagetwo {
	margin: 5px 0px 35px 3px;
	background-color: #94BA6A;
	float: right;
}

#bottom {
	font-family: QuicksandLight, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	background-color: #94BA6A;opacity: 0.9;
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	height: 32px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.links {
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 100px;
	text-decoration: none;
	letter-spacing: -2px;
	line-height: 85px;
}

#links {
	float:left;
}

#resume {
	width: 612px;
	height: 800px;
	margin: 20px auto 0px auto;
}
.resume {
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
        -webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
        box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

#sidebanner {
	height: auto;
	width: 240;
	position: relative;
	left: -260px;
	padding-bottom: 10px;
	margin-top: 10px;
	z-index: 5;
	border: 0px;
}

p {
	font-family: Quicksand, Helvetica, sans-serif;
	color: #fff;
	font-size: 50px;
	padding-left: 30px;
}

head1 {
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 54px;
	font-weight: normal;
	letter-spacing: -3px;
}

head2 {
	font-family: Blackjack, Georgia, serif;
	font-size: 74px;
	padding-left: 20px;
}

.bio {
	max-width: 480px;
	margin-right: 20px;
	float: left;
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: -1px;
}

.about{
	min-width: 980px;
	margin-top: 20px;
	float: left;
}

#socialimage {
	float: right;
	margin-top: 80px
}
#aboutimage{
	float: right;
	margin-top: -90px;
}
.view {
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: -2px;
	margin-left: 50px;
}
a.fancybox {
	padding: 0px;
}

#jacht{
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0px 0px 10px 0px;	
}

#jacht a{
	font-family: Quicksand, Helvetica, sans-serif;
	font-size: 18px;
	color: blue;
	
}
